/* Minhas cores */
:root {
  --fundo: #0057ff;
  --gradientedefundo: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(121, 9, 9) 35%,
    rgb(255, 0, 0) 100%
  );
}

body {
  font-family: "Roboto Slab", serif;
  background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: rgb(255, 255, 255);
  margin: auto;
}

h1 {
  font-family: "Bungee Shade", cursive;
  background-color: black;
  margin-top: 0;
}

h1,
h2 {
  text-align: center;
}

img {
  margin: 5px auto;
  width: 50%;
  display: block;
  max-width: 400px;
  border-radius: 16px;
}

li a, div a {
  margin: 5px;
  display: block;
  border: none;
  padding: 22px;
  background-color: rgb(56, 206, 76);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.social {
  display: flex;
  justify-content: center;

}
.social a {
  border-radius: 50%;
  width: 75px;
    height: 75px;
    align-items: center;
    display: flex;
    justify-content: center;
}


button:hover,
a:hover {
  opacity: 0.8;
}

a:link,
a:visited {
  text-align: center;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;

}
p {
  text-align: center;
  
}
#top {
  color: red;
}

.projetos {
  font-size: 25px;
}
.projetos li{
  margin: 8px;
}